
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>#</title>

    <!-- Latest compiled and minified CSS & JS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
    <!-- <script src="https://code.jquery.com/jquery.js"></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Chosen -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>
</head>

<body>

        <h2>testing pg</h2>
        <hr>

        <h4><strong>##</strong></h4>
        <h5>Game Name (Required)</h5>
        <input type="text" id="name" class="form-control" required>

        <h4><strong>Platform</strong></h4>
        <select class="chosen-select" id="q1">
            <option value=""></option>
            <option value="1">PC</option>
            <option value="2">PlayStation 4</option>
            <option value="3">PlayStation 3</option>
            <option value="4">Xbox One</option>
            <option value="5">Xbox 360</option>
            <option value="6">Nintendo Switch</option>
            <option value="7">Wii U</option>
            <option value="8">Wii</option>
            <option value="9">Mac</option>
            <option value="10">Nintendo 3DS</option>
            <option value="11">Nintendo 2DS</option>
            <option value="12">Nintendo DS</option>
            <option value="13">PlayStation Vita</option>
            <option value="14">Sony PSP</option>
            <option value="15">Retro Gaming & Microconsoles</option>
        </select>

<!-- submit button -->
<button type="submit" class="none" id="submit">
    Submit
</button>

</body>

</html>