<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        </style>
  <meta charset="UTF-8">
  <title>Home</title>
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>
  <style>
      #thediv {
          position: fixed;
          margin: 0 13%;
      }
      h1, h3 {
          color: rgb(30,144,255);
      }
      .jumbotron {
          background-color: #36454f ;
          border: rgb(30,144,255);
      }

      .btn {
          color: rgb(30,144,255);
          border-color: rgb(30,144,255);
      }

      .btn:hover {
          background-color: rgb(30,144,255);
      }

      #lineDrawing {
    background-color: rgba(14, 1, 17, 0);
    color: rgb(62, 105, 247);
    width:100%;
        height: 150px;
        z-index: -1;
        position: relative;
    }

    /* svg {
       position: fixed;
    } */




  </style>
</head>
<body id="body" style="margin: 0; overflow: hidden;" class="Matrix">
    
        <script src="http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/p5.js"></script>
        <script type="text/javascript">
          var count = 0;
          var ranArray = [];
        
          var interval = setInterval(displayTitle, 400);
          // setTimeout(displayTitle, 3000);
          var newInterval = setInterval(displayButton, 1000);
        
          function randomLetter(){
            var ran = Math.floor((Math.random() * 7) + 0);
        
            if(ranArray.indexOf(ran) === -1){
              ranArray.push(ran);
        
            }
            console.log(ranArray);
            return ranArray;
          }
          // while(ranArray.length < title.length){
          //   randomLetter();
          // }
          function displayTitle() {
            var title = ["L", "U", "D", "O", "L", "O", "G", "Y"];
        
            if (count < title.length) {
              var span = "<span id='"+  count  + "' style=''>" + title[count] + "</span>";
        
              $("#title").append($(span).fadeIn(1500));
              $("#"+count).animate({top: "+=100px"});
              // $("#"+count).slideDown();
        
              console.log("#"+title[count]);
              console.log(title.length);
              count++;
            } else {
              clearInterval(interval);
              return;
            }
        
          }
        
          function displayButton() {
            var button = "<input id='enter' type='button' name='ENTER LUDOLOGY' value='ENTER LUDOLOGY'>";
            $("#maindiv").append($(button).hide().fadeIn(5000));
            clearInterval(newInterval);
          }
          var streams = [];
          var fadeInterval = 1.6;
          var symbolSize = 16;
        
          function setup() {
            createCanvas(
              window.innerWidth,
              window.innerHeight
            );
            background(0);
        
            var x = 0;
            for (var i = 0; i <= width / symbolSize; i++) {
              var stream = new Stream();
              stream.generateSymbols(x, random(-2000, 0));
              streams.push(stream);
              x += symbolSize
            }
        
            textFont('Consolas');
            textSize(symbolSize);
          }
        
          function draw() {
            background(0, 150);
            streams.forEach(function(stream) {
              stream.render();
            });
          }
        
          function Symbol(x, y, speed, first, opacity) {
            this.x = x;
            this.y = y;
            this.value;
        
            this.speed = speed;
            this.first = first;
            this.opacity = opacity;
        
            this.switchInterval = round(random(2, 25));
        
            this.setToRandomSymbol = function() {
              var charType = round(random(0, 5));
              if (frameCount % this.switchInterval == 0) {
                if (charType > 1) {
                  // set it to Katakana
                  this.value = String.fromCharCode(
                    0x30A0 + round(random(0, 96))
                  );
                } else {
                  // set it to numeric
                  this.value = round(random(0, 9));
                }
              }
            }
        
            this.rain = function() {
              this.y = (this.y >= height) ? 0 : this.y += this.speed;
            }
        
          }
        
          function Stream() {
            this.symbols = [];
            this.totalSymbols = round(random(5, 35));
            this.speed = random(5, 19);
        
            this.generateSymbols = function(x, y) {
              var opacity = 255;
              var first = round(random(0, 4)) == 1;
              for (var i = 0; i <= this.totalSymbols; i++) {
                symbol = new Symbol(
                  x,
                  y,
                  this.speed,
                  first,
                  opacity
                );
                symbol.setToRandomSymbol();
                this.symbols.push(symbol);
                opacity -= (255 / this.totalSymbols) / fadeInterval;
                y -= symbolSize;
                first = false;
              }
            }
        
            this.render = function() {
              this.symbols.forEach(function(symbol) {
                if (symbol.first) {
                  fill(135, 206, 250, symbol.opacity);
                } else {
                  fill(0, 191, 255, symbol.opacity);
                }
                text(symbol.value, symbol.x, symbol.y);
                symbol.rain();
                symbol.setToRandomSymbol();
              });
            }
          }
        
        
          $(document).on("click", "#enter", function() {
            window.location = "main.html";
          })
        </script>
        

    <div class="container" id="thediv">
            <div id="lineDrawing"> <svg viewBox="-20 25 3000 3000">
                    <defs>
                            <filter id="shadow" x="-0.5" y="-0.5" width="200%" height="200%">
                              <feDropShadow dx="20" dy="20" stdDeviation="35" flood-color="rgb(62, 105, 247)" flood-opacity="1" />
                            </filter>
                          </defs>
                  <g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-width="10" class="lines" style="filter:url(#shadow);">
                    <path d="M 66 198 C 27.5 288 77.5 288 63 349 C 86 354 111.5 345 106 314 C 125 350 132 317 125 375 L 25 375 L 25 375 C 50 300 0 300 26 200 L 26 200 C 31 205 41 219 67 197 " stroke-dasharray="316.85528564453125" style="stroke-dashoffset: 316.401px;"></path>
                    <path d="M 175 300 Q 159 316 150 300 Q 141 343 157 375 L 218 375 Q 234 341 225 300 Q 217 317 200 300 Q 209 325 200 350 Q 187 357 175 350 Q 166 325 175 300 " stroke-dasharray="150" style="stroke-dashoffset: 150px;"></path>
                    <path d="M 250 375 C 237 349 238 312 254 277 C 294 320 334 270 299 221 C 312 220 325 214 333 206 C 368 298 303 301 319 371 C 308 363 293 359 245 376 " stroke-dasharray="441.1739501953125" style="stroke-dashoffset: 441.174px;"></path>
                    <path d="M 279 350 A 15 15 0 1 1 280 350 L 279 350 " stroke-dasharray="338.3053894042969" style="stroke-dashoffset: 338.305px;"></path>
                    <path d="M 336 329 A 45 45 0 1 1 336 330 L 336 329 " stroke-dasharray="406.8699035644531" style="stroke-dashoffset: 406.87px;"></path>
                    <path d="M 374 343 A 15 15 0 1 1 376 344 L 374 343 " stroke-dasharray="301.8561706542969" style="stroke-dashoffset: 301.856px;"></path>
                    <path d="M 433 374 C 459 299 409 299 424 227 C 423.5 225 456 244 466 212 C 434 299 484 299 460 374 L 429 374 " stroke-dasharray="47.128875732421875" style="stroke-dashoffset: 47.1289px;"></path> --> --> --> -->
                    <path d="M 478 329 A 45 45 0 1 1 478 331 L 478 329 " stroke-dasharray="406.8699035644531" style="stroke-dashoffset: 406.87px;"></path>
                    <path d="M 523 343 A 15 15 0 1 1 524 343 L 522 343 " stroke-dasharray="338.3053894042969" style="stroke-dashoffset: 338.305px;"></path>
                    <path d="M 640 368 A 45 45 0 1 1 671 322 L 670 414 C 635 406 599 407 577 415 C 584 405 584 395 577 383 C 603 393 626 393 641 384 L 636 370 " stroke-dasharray="441.1739501953125" style="stroke-dashoffset: 441.174px;"></path>
                    <path d="M 641 325 A 15 15 0 1 1 641 323 L 641 327 " stroke-dasharray="150" style="stroke-dashoffset: 150px;"></path>
                    <path d="M 681 402 L 720 403 C 724.5 331 774.5 331 782 239 C 772 252 759 258 745 256 C 754 274 746 298 734 309 C 720 298 713 285 720 268 C 707 274 695 278 679 275 C 674 308 724 308 719 341 L 684 403 " stroke-dasharray="316.85528564453125" style="stroke-dashoffset: 316.401px;"></path>
                </g>
                </svg> </div>
  <div class="container">
    <div class="jumbotron">
        <h1> 

        </h1>
      <h3>The greatest resource for videogames</h3>
      <hr>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <!-- <a href="/add"><button class="btn btn-danger btn-lg"><span class="fa fa-plus"></span> Add Review/Guide</button></a> -->
    </div>
    <div class="row">

      <div class="col-lg-12">

        <div class="panel panel-default">
          <div class="panel-heading">
          </div>
          <div class="panel-body">
            <br>
            <div class="text-right">
              <a href="/add"><button class="btn btn btn-lg"><span class="fa fa-plus" id="findgame"></span> Add Review/Guide</button></a>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
          </div>
          </div>
</body>
<script>

        var lineDrawing = anime({
          targets: '#lineDrawing .lines path',
          strokeDashoffset: [anime.setDashoffset, 0],
          easing: 'easeInOutSine',
          duration: 1000,
          delay: function(el, i) { return i * 250 },
          direction: 'alternate',
          loop: false
        });
        
            
            </script>
</html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
</head>
<body>
    
    <form>
        Game name: <input type="text" id="game-name" value=><br>Find Game!
        
        <!-- <input type="submit" value="Submit" id="find-game"> -->
        </form>
        <button id="find-game">gamesubmit</button>
        <div id='gameData'>
            hello world
        </div>
        <script src="/javascript/ajax.js"></script>

        <!-- <script>
            
            $("#find-game").on("click", function(event) {
            console.log("test");
            
            event.preventDefault();
            var game = $("#game-name").val(); 
            $.post('/api/games', game).then(function(data) {
                console.log(data);
            });

            });
        
        </script> -->
     


</body>
</html>
