<!doctype html>
<html>
  <head>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/p5.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>

    <style rel="stylesheet">
      h1{
        position: fixed;
        color: rgb(30,144,255);
        top: 43%;
        left: 42%;

      }
      input{
        position: fixed;
        background-color: black;
        color: rgb(30,144,255);
        top: 50%;
        left: 42%;
        width: 180px;
      }
    </style>
  </head>
  <body style="margin: 0; overflow: hidden;">
    <h1 id="title">LUDOLOGY</h1>
    <input type="button" name="ENTER LUDOLOGY" value="ENTER LUDOLOGY">
  </body>
  <script type="text/javascript">

  setInterval(function(){
    var title = ["L", "U", "D", "O", "L", "O", "G", "Y"];
    console.log(title);
    // $("#title").

   }, 3000);
  var streams = [];
var fadeInterval = 1.6;
var symbolSize = 16;

function setup() {
  createCanvas(
    window.innerWidth,
    window.innerHeight
  );
  background(0);

  var x = 0;
  for (var i = 0; i <= width / symbolSize; i++) {
    var stream = new Stream();
    stream.generateSymbols(x, random(-2000, 0));
    streams.push(stream);
    x += symbolSize
  }

  textFont('Consolas');
  textSize(symbolSize);
}

function draw() {
  background(0, 150);
  streams.forEach(function(stream) {
    stream.render();
  });
}

function Symbol(x, y, speed, first, opacity) {
  this.x = x;
  this.y = y;
  this.value;

  this.speed = speed;
  this.first = first;
  this.opacity = opacity;

  this.switchInterval = round(random(2, 25));

  this.setToRandomSymbol = function() {
    var charType = round(random(0, 5));
    if (frameCount % this.switchInterval == 0) {
      if (charType > 1) {
        // set it to Katakana
        this.value = String.fromCharCode(
          0x30A0 + round(random(0, 96))
        );
      } else {
        // set it to numeric
        this.value = round(random(0,9));
      }
    }
  }

  this.rain = function() {
    this.y = (this.y >= height) ? 0 : this.y += this.speed;
  }

}

function Stream() {
  this.symbols = [];
  this.totalSymbols = round(random(5, 35));
  this.speed = random(5, 20);

  this.generateSymbols = function(x, y) {
    var opacity = 255;
    var first = round(random(0, 4)) == 1;
    for (var i =0; i <= this.totalSymbols; i++) {
      symbol = new Symbol(
        x,
        y,
        this.speed,
        first,
        opacity
      );
      symbol.setToRandomSymbol();
      this.symbols.push(symbol);
      opacity -= (255 / this.totalSymbols) / fadeInterval;
      y -= symbolSize;
      first = false;
    }
  }

  this.render = function() {
    this.symbols.forEach(function(symbol) {
      if (symbol.first) {
        fill(135,206,250, symbol.opacity);
      } else {
        fill(0,191,255, symbol.opacity);
      }
      text(symbol.value, symbol.x, symbol.y);
      symbol.rain();
      symbol.setToRandomSymbol();
    });
  }
}

  </script>
</html>
