#lineDrawing {
    background-color: rgb(14, 1, 17);
    color: rgb(41, 43, 49, 0);
};

@-o-keyframes fadeIt {
    0%   { color: rgb(62, 105, 247); }
    50%  { color: rgb(62, 105, 247); }
    100% { color: rgb(41, 43, 49, 0); }
    0%   { flood-color: rgb(62, 105, 247); }
    50%  { flood-color: rgb(62, 105, 247); }
    100% { flood-color: rgba(41, 43, 49, 0); }
  }
  @keyframes fadeIt {
    0%   { color: rgb(62, 105, 247); }
    50%  { color: rgb(62, 105, 247); }
    100% { color: rgb(41, 43, 49, 0); }
    0%   { flood-color: rgb(62, 105, 247); }
    50%  { flood-color: rgb(62, 105, 247); }
    100% { flood-color: rgba(41, 43, 49, 0); }
  }
  
  .animated{    
            background-image:none !important; 
           -o-animation: fadeIt 9s ease-in-out; 
              animation: fadeIt 9s ease-in-out;
  }

  feDropShadow {
    background-image:none !important; 
    -o-animation: fadeIt 9s ease-in-out; 
       animation: fadeIt 9s ease-in-out;
  }
